@import "mixins.scss";
@import "pccs.scss";

.booster {
  @include borderbox;
  margin: 0 auto;
  width: 300px;
  height: 500px;
  .timer {
    width: 300px;
    height: 300px;
    .background {
      position: absolute;
    }
    .overray {
      position: absolute;
    }
  }
  .buttons {
    margin: 30px auto;
    width: 300px;
    .startButton, .stopButton {
      box-sizing: border-box;
      display: inline-block;
      font:{
        family: sans-serif;
        weight: bold;
        size: 130%;
      }
      width: 50px;
      height: 50px;
      border-radius: 5px;
      border: 2px solid $Gy55;
      background-color: #fff;
      box-shadow: none;
      cursor: pointer;
      text-align: center;
    }
    .state_stop {
      background:{
        image: url('../img/play.png');
        size: contain;
      }
    }
    .state_play {
      background:{
        image: url('../img/pause.png');
        size: contain;
      }
    }
    .stopButton {
      background:{
        image: url('../img/stop.png');
        size: contain;
      }
    }
    .selectsec {
      display: inline-block;
      width: 180px;
      font-size: 90%;
    }
  }
  .digital {
    width: 150px;
    margin: 0 auto;
    text-align: center;
    font: {
      size: 150%;
      weight: bold;
    }
  }
}